<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Russ Johnson</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
          {% for entry in collections.page %}
            <a href="{{ entry.url }}"
            class="link {% if entry.url == page.url %}active{% endif %}"
             aria-current="page"
            >
            {{ entry.data.title }}
            </a>
        {% endfor %}
      </nav>
    </header>
    <main class="main">
      {{ content | safe }}
    </main>
  </body>
</html>
