---
layout: base.njk
---

{{ content | safe }}

<div class="projects">
    {% for project in collections.projects %}
    <article class="project">
        {% if project.data.image %}
        <div class="image-wrapper">
            <img src="../images/{{project.data.image}}"/>
        </div>
        {% endif %}
        <div class="body">
            <nav class="nav">
                {% if project.data.source %}
                <a href={{ project.data.source }}>
                    github
                </a>
                {% endif %}
                {% if project.data.host %}
                <a href={{ project.data.host }}>
                    hosted
                </a>
                {% endif %}
            </nav>
            <h2 class="title">{{ project.data.title }}</h2>
            {{ project.content | safe }}
        </div>
    </article>
    {% endfor %}
</div>


